Working/09_Telegram_AI_Agent.json
{
  "name": "[TEST] Telegram AI Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "5d6031c8-87c5-4e7d-8def-a5576dd977d9",
      "name": "Telegram Trigger",
      "webhookId": "1c29f13b-81ac-442d-93c2-dcfd6a32d1d4",
      "credentials": {
        "telegramApi": {
          "id": "7PmgvcFcUrvKLTvJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\n\n# You have tools: \n#search_agent\nuse this tool to search web, wikipedia, hackerrank."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "2d377018-74a4-4936-a83c-a6706615dcbb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        260
      ],
      "id": "16e16319-80a9-484d-83d7-9676700f572b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "f9PoEsdRE7H5P74J",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "4ebbab85-18f2-435d-a623-faf404c00b05",
      "name": "Telegram",
      "webhookId": "8c6def56-9e9d-4f72-aadf-4184a3996b56",
      "credentials": {
        "telegramApi": {
          "id": "7PmgvcFcUrvKLTvJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        200
      ],
      "id": "84f6b9a0-b647-4933-b482-0883ec7f0bbf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "use this to search wikipedia hackerrank and others",
        "workflowId": {
          "__rl": true,
          "value": "mxKJE5AqOtGzYcAK",
          "mode": "list",
          "cachedResultName": "[TEST] Telegram SubWorkFlow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        420,
        240
      ],
      "id": "a88c7a62-4d6d-4b25-b423-ee1802cc5c62",
      "name": "search_agent",
      "notesInFlow": true
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "search_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76c22873-cf4a-4f10-a817-b165e67859a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8b79fa2b090e7ba98ec4720dc85b820fd9bee5d2cd6543eaeac3147841093eb"
  },
  "id": "JEvNs6EnRJnOhWIQ",
  "tags": []
}