Working/16_Send_Mails_From_Pinecode__SubWorkflow.json
{
  "name": "[Test] Send Mails From Pinecode (SubworkFlow)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "eacc859b-e048-47dd-8e32-21663958c35b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful assistant to send mail"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "34da167d-4c64-45ce-8de9-cd8c8da7302f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        200
      ],
      "id": "2e2895e0-fca9-49a4-86bc-515eaaa9db4f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wR1FE1JJAnYEVaPi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        380,
        220
      ],
      "id": "4ffd0aed-cab8-4a23-926e-3d2abbed4de5",
      "name": "Gmail",
      "webhookId": "8367cd8e-cf62-4007-9e27-dcc08ee480a1",
      "credentials": {
        "gmailOAuth2": {
          "id": "VyIAPUKVYIyYJ6U8",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "To: novojitdas@gmail.com\nSubject: Learning n8n\n\nHi Novojit,\n\nI just wanted to share that I am currently learning n8n.\n\nBest regards,\n"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f975dc99-58fe-4022-a9be-00db81b43dd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8b79fa2b090e7ba98ec4720dc85b820fd9bee5d2cd6543eaeac3147841093eb"
  },
  "id": "7pQ4FwakNrK1qsOt",
  "tags": []
}